.faq {
  padding: 50px 0 20px;
}
.faq:first-child {
  padding: 0 0 50px;
}
.faq:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.faq-container {
  padding-top: 20px;
}
.faq .title {
  font-size: 2.4em;
  cursor: pointer;
}

.faq .content {
  font-family: 'Calluna Regular', serif;
  font-size: 1.3em;
  text-align: justify;
  text-justify: newspaper;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, font-size 0.3s ease-in-out;
}
.faq .content.hidden {
  font-size: 0;
  margin: 0;
  opacity: 0;
  padding: 0;
  /* fade out, then shrink */
}

.featured-image {
  width: 100%;
}
