.footer {
  padding: 50px 20px;
  background-color: #eceef0;
  color: #6b6b6b;
}
.info-text {
  text-align: center;
  padding: 20px;
}
.links {
  color: #6b6b6b;
}
.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.image {
  height: 30px;
  margin: 10px;
}
.image img {
  height: 100%;
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}
