.news-detail {
  padding: 50px 0 20px;
}
.news-detail:first-child {
  padding: 0 0 50px;
}
.news-detail:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.news-detail .title {
  font-size: 2.4em;
}

.featured-image {
  width: 100%;
}
