.pages h1 {
  text-align: center;
  font-size: 3em;
}
.page {
  background-color: #fff;
  padding: 40px 0 80px;
}
.page:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.divider {
  background-image: url(/divider.png);
  background-repeat: repeat-x;
  height: 10px;
}
.page-pusher {
  height: 0px;
}
