@font-face {
  font-family: 'AlternateGothicFSNo2';
  src: url('fonts/alternategothicfsno2-webfont.eot');
  src: url('fonts/alternategothicfsno2-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/alternategothicfsno2-webfont.woff') format('woff'),
    url('fonts/alternategothicfsno2-webfont.ttf') format('truetype'),
    url('fonts/alternategothicfsno2-webfont.svg#AlternateGotNo1DRegular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calluna-Regular';
  src: url('fonts/Calluna-Regular-webfont.eot');
  src: url('fonts/Calluna-Regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/Calluna-Regular-webfont.woff') format('woff'),
    url('fonts/Calluna-Regular-webfont.ttf') format('truetype'), format('svg');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'AlternateGothicFSNo2', 'Arial Narrow', 'Arial', sans-serif;
  color: #1b1b1b;
}

.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
.loading-wrapper {
  position: relative;
  height: 120px;
}
a {
  text-decoration: none;
  color: #7daa00;
}
a:hover {
  text-decoration: underline;
}
.content {
  font-family: 'Calluna Regular', serif;
  font-size: 1.3em;
  text-align: justify;
  text-justify: newspaper;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5 {
  font-family: 'AlternateGothicFSNo2', 'Arial Narrow', 'Arial', sans-serif;
}
form label,
.wpcf7-list-item-label,
input,
textarea {
  font-family: 'AlternateGothicFSNo2', 'Arial Narrow', 'Arial', sans-serif;
  /* font-size: 0.8em; */
}
form p {
  display: inline-block;
  width: 48%;
}

@media screen and (max-width: 1200px) {
  form p {
    width: 100%;
  }
}
input,
textarea {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #222;
  padding: 15px;
}
input:focus,
textarea:focus {
  border: 2px solid #7daa00;
  outline: none;
}
input[type='submit'] {
  border: none;
  cursor: pointer;
  background-color: #222;
  color: #fff;
}
input[type='submit']:hover {
  background-color: #7daa00;
}
input[type='checkbox'] {
  width: auto;
  margin: 0 20px 0 0;
}
.wp-video,
video.wp-video-shortcode,
.mejs-container,
.mejs-overlay.load {
  width: 100% !important;
  height: 100% !important;
}
.mejs-container {
  padding-top: 56.25%;
}
.wp-video,
video.wp-video-shortcode {
  max-width: 100% !important;
}
video.wp-video-shortcode {
  position: relative;
}
.mejs-mediaelement {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.mejs-controls {
  display: none;
}
.mejs-overlay-play {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto !important;
  height: auto !important;
}
