@font-face {
  font-family: 'AlternateGothicFSNo2';
  src: url('fonts/alternategothicfsno2-webfont.eot');
  src: url('fonts/alternategothicfsno2-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/alternategothicfsno2-webfont.woff') format('woff'),
    url('fonts/alternategothicfsno2-webfont.ttf') format('truetype'),
    url('fonts/alternategothicfsno2-webfont.svg#AlternateGotNo1DRegular')
      format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Calluna-Regular';
  src: url('fonts/Calluna-Regular-webfont.eot');
  src: url('fonts/Calluna-Regular-webfont.eot?#iefix')
      format('embedded-opentype'),
    url('fonts/Calluna-Regular-webfont.woff') format('woff'),
    url('fonts/Calluna-Regular-webfont.ttf') format('truetype'), format('svg');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: 0 !important;
  padding: 0 !important;
  font-family: 'AlternateGothicFSNo2', 'Arial Narrow', 'Arial', sans-serif;
  color: #1b1b1b;
}

.container {
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;
}
.loading-wrapper {
  position: relative;
  height: 120px;
}
a {
  text-decoration: none;
  color: #7daa00;
}
a:hover {
  text-decoration: underline;
}
.content {
  font-family: 'Calluna Regular', serif;
  font-size: 1.3em;
  text-align: justify;
  text-justify: newspaper;
}
